* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #142138;
}

/* index */

.home {
  margin-top: 10vh;
  /* evitar com que a navbar fique em cima do texto */
  padding: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #142138;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #142138 0%, #1E2A4D 100%);
  padding-bottom: 200px;
  /* adiciona espaço interno na parte inferior de um elemento. */
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.texto {
  flex: 1;
  /* tem um na imagem tambem que faz que eles dividam 50/50  */
  max-width: 50%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.texto h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.texto p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.texto h1,
.texto p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.imagem img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.3),
    0 30px 60px 10px rgba(30, 144, 255, 0.2);
}

.imagem img:hover {
  transform: scale(1.05);
  /* aumentar a img 10% ao passar o mouse */
}

.security-wrapper {
  width: 100%;
  background-color: #1E2A4D;
  padding: 140px 0 40px;
}

.security-info {
  margin: 20px auto 20px auto;
  padding: 40px 30px;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #E0E7FF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.security-info p {
  margin: 0;
}

.squares-wrapper {
  display: flex;
  justify-content: flex-end;
  /* alinhar o bloco dos cards a direita */
  padding: 60px 20px;
  gap: 20px;
  background-color: #1E2A4D;
}

.texto-esquerda-cards {
  flex: 1;
  /* faz o texto ocupar a 1/3 da largura disponivel na esquerda */
  max-width: 40%;
  color: #E0E7FF;
  font-size: 1.25rem;
  line-height: 1.8;
  text-align: left;
  margin-top: 90px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
}

.texto-esquerda-cards h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.texto-esquerda-cards p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.texto-esquerda-cards:hover {
  transform: translateY(-5px);
  /* Suaviza o movimento ao passar o mouse */
  background: rgba(0, 0, 0, 0.4);
  /* Mudança na cor de fundo */
}

.squares {
  flex: 2;
  /* faz os cards ocuparem 2/3 da largura disponivel na esquerda */
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  /* encaixar o máximo possível de colunas de no mínimo 160px cada. */
  gap: 30px;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin-bottom: 80px;
}

.card {
  border: 1px solid #3d4c68;
  border-radius: 12px;
  background-color: #1a2744;
  color: #fff;
  width: 200px;
  height: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #223456;
}

.circle {
  width: 28px;
  height: 28px;
  background-color: #00bfff;
  border-radius: 50%;
  margin-bottom: 12px;
}

.card-text h3 {
  margin: 4px 0;
  font-size: 18px;
  font-weight: 600;
}

.card-text p {
  margin: 0;
  font-size: 0.875rem;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background: #142138;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  z-index: 1000;
  border: none;
}

/* fazer linha embaixo da navbar */
.navbar::after {
  content: '';
  /* sempre cria um conteudo vazio pra conseguir manipular */
  display: block;
  width: 90%;
  height: 2px;
  background-color: #AAB8C2;
  /* cor da linha */
  margin: 0 auto;
  /* centralizar a linha */
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar ul,
.mobile-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar li,
.mobile-menu li {
  margin: 15px 20px;
  position: relative;
}

.navbar a,
.mobile-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  display: block;
}

.mobile-menu a {
  font-size: 20px;
  padding: 12px 0;
  text-align: center;
}

.navbar a:hover,
.mobile-menu a:hover {
  transform: translateY(-3px);
  /* fazer com que o botao "suba" */
}

.navbar a::before,
.mobile-menu a::before {
  content: '';
  /* Cria um “elemento virtual” vazio, para ser estilizado. */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #1E90FF;
  transform: scaleX(0);
  /* linha comeca invisivel*/
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover::before,
.mobile-menu a:hover::before {
  transform: scaleX(1);
  /* linha aparece quando passar o mouse*/
  transform-origin: bottom left;
}

/* Abrir menu na lateral (celulares) */

.mobile-menu {
  display: none;
  position: fixed;
  top: 8vh;
  right: -250px;
  width: 250px;
  height: 92vh;
  background-color: #142138;
  padding: 20px;
  z-index: 1001;
  /* ficar na frente de tudo */
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
  right: 0;
  display: flex;
}

.mobile-menu-icon {
  display: none;
  position: absolute;
  right: 20px;
  z-index: 1100;
}

.mobile-menu-icon button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mobile-menu-icon img {
  width: 36px;
  height: 36px;
  pointer-events: none;
  user-select: none;
}

#acessibility-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px; 
}

#acessibility-button img {
  width: 24px;
  height: 24px;
}

#acessibility-mobile {
  background: transparent;
  border: none;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#acessibility-mobile img {
  width: 24px;
  height: 24px;
}

/* mudar a fonte do html */
html.font-large {
  font-size: 120%;
  transition: font-size 0.3s ease;
}

#acessibility-button:hover {
  background-color: #1E90FF; 
  color: white;              
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.7);
  border-color: #1E90FF;
}

/* arquivo sobre */

#card {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(../img/); 
  background-repeat: no-repeat;
  background-size: cover; */
  /* se quiser colocar img no backgroud */
}

.flip-card {
  width: 300px;
  height: 450px;
  background-color: transparent;
  perspective: 1000px;
  /*movimento em 3D */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card .flip-card-back {
  transform: rotateY(-180deg);
}

.flip-card-inner {
  /* parte de dentro */
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* img nao perder resolucao */
  border-radius: 12px;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}


/* responsividade navbar */

@media (max-width: 768px) {
  .mobile-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  #acessibility-button{
    display: none;
  }
  
  #acessibility-mobile{
    display: inline-flex;
  }

  /* home container */
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  /* texto */
  .texto {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }

  /* img */
  .imagem img {
    max-width: 100%;
  }

  .imagem {
    padding: 10px;
  }

  .security-info {
    font-size: 1.1rem;
    padding: 20px 15px;
    max-width: 95%;
  }


  .squares {
    grid-template-columns: 1fr;
    /* uma coluna só */
    gap: 20px;
    padding: 10px;
    max-width: 100%;
  }

  .card {
    width: 100%;
    max-width: none;
    height: auto;
  }
}



